body {
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 90%;
}

#controls_pane {
  width:300pt;
  min-height:100%;
  background-color:#D4D4D4;
  padding: 5pt;
}

#grot {
  width: 95%
  position:fixed;
  overflow: hidden;
  margin-left:320pt;
}

path.link {
  fill: none;
  stroke: #777;
  stroke-opacity: 0.1;
  stroke-width: 1.5px;
}

path.link.selected {
  fill: none;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text.visible {
  font: 12px sans-serif;
  pointer-events: none;
}

text.invisible {
  visibility: hidden
}